<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span>Exam Portal</span>
    <a [routerLink]="'/'" mat-icon-button class="example-icon ml20" aria-label="Example icon-button with menu icon">
        <mat-icon>home</mat-icon>
    </a>
    <span class="example-spacer"></span>
    <a 
        *ngIf="!login.isLoggedIn()"
        [routerLink]="'/login'" mat-flat-button class="example-icon mr20" aria-label="Example icon-button with share icon">
        Login
    </a>
    <a *ngIf="!login.isLoggedIn()" [routerLink]="'/signup'" mat-flat-button class="example-icon mr20" aria-label="Example icon-button with share icon">
        Register
    </a>

    <button *ngIf="login.isLoggedIn()"  mat-flat-button class="example-icon mr20" aria-label="Example icon-button with share icon">
        {{"Hello "+login.getUser().firstname }}
    </button>

    <a *ngIf="login.isLoggedIn()" (click)="loggedout()" [routerLink]="'/login'"   mat-flat-button class="example-icon mr20" aria-label="Example icon-button with share icon">
        Logout
    </a>

</mat-toolbar>